body {
  margin: 0;
  padding: 0;
  background-color: #f2eefc;
}

main {
  max-width: 960px;
  margin: auto;
  padding: 10px;
}

header {
  margin: 0;
  padding-top: 25px;
  width: 100%;
  background-color: #c499d5;
  height: 100px;
  text-align: center;
  color: whitesmoke;
}

h1 {
  color: #696f8c;
}

header h1 {
  margin: 0;
  color: whitesmoke;
}

#newBook {
  width: 120px;
  height: 50px;
  border-radius: 15px;
  background-color: #f07989;
  font-weight: bold;
  color: white;
  outline: none;
}

#newBookForm {
  display: flex;
  justify-content: center;
}

#newBookForm input,
select {
  margin: 5px;
  padding: 5px;
  width: 115px;
  border-radius: 15px;
  outline: none;
}

.button-container {
  display: flex;
  justify-content: center;
}

#submitButton {
  background-color: #ce9ec4;
}

th {
  font-size: 14px;
  width: 140px;
  background-color: #f2eefc;
}

tr {
  background-color: white;
  width: 140px;
  height: 50px;
  border-radius: 15px;
}

table {
  border-collapse: separate;
  border-spacing: 0 15px;
}

td {
  text-align: center;
  padding: 5px;
}

tr > td:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

tr > td:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.popup {
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.popup-content {
  height: 60px;
  width: 840px;
  position: absolute;
  top: 200px;
  background: whitesmoke;
  padding: 20px;
  border-radius: 5px;
}

#close {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #f07989;
  cursor: pointer;
}
